.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h2.chat-main__group-info__left-box__group-name
        test
      %ul.chat-main__group-info__left-box__members
        Member :
        %li.chat-main__group-info__left-box__members__name
          masa
    .chat-main__group-info__edit
      = link_to "#", class: "chat-main__group-info__edit__btn" do
        Edit
  .chat-main__message-list
    .message
      .message__info
        %p.message__info__user
          masa
        %p.message__info__date
          2019/11/20(Wed) 17:43:01
      .message__text
        おはよう！
    .message
      .message__info
        %p.message__info__user
          masa
        %p.message__info__date
          2019/11/20(Wed) 17:43:34
      .message__text
        今日は夜から雨
  .chat-main__message-form
    %form.new-message
      .new-message__input-box
        %input.new-message__input-box__text{ type: "text", placeholder: "type a message"} 
        %label{class: "new-message__input-box__image"}
          = icon('far', 'image')
          %input{type: "file", class: "new-message__input-box__image__file"}
      %input.new-message__submit-btn{ type: "submit", value: "Send",}